{% block content %}
<div id="content">
  <p>Enter New Item</p>
  <div id="input-section">

    <input type="text" id="add-new-item" value="">

  </div>

  <ul>
    <table>

      <tr>
        <th>Name</th>
        <th>Repeat</th>
        <th>Late</th>
        <th>Compleated</th>
        <th>Notes</th>
        <th>Assinged To</th>
        <th>Date Entered</th>
        <th>Date Compleated</th>
        <th>Delete</th>
      </tr>

      {% for item in chore %}
        <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.repeat }}</td>
              <td>{{ item.late }}</td>
              <td>{{ item.compleated }}</td>
              <td>{{ item.notes }}</td>
              <td>{{ item.assinged_to }}</td>
              <td>{{ item.date_entered }}</td>
              <td>{{ item.date_compleated }}</td>
              <td><a href="/delete-item?_id={{ item._id }}">DEL</a></td>
        </tr>
      {% endfor %}
    </table>

  </ul>
  <button  id="del-checked-button"type="button" class="del-checked-button">Delete Checked</button>
</div>
<form class="" action="/add-test" method="post">
  <input type="text" name="name" value="name">
  <input type="checkbox" name="repeat" value="">
  <input type="checkbox" name="late" value="">
  <input type="checkbox" name="compleated" value="">
  <input type="text" name="notes" value="notes">
  <input type="text" name="assinged_to" value="assinged_to">
  <input type="submit" value="Submit">
</form>
{% endblock %}
