{% block content %}
<div id="content">
  <ul>
    <table>

      <tr>
        <th>Name</th>
        <th>Repeat</th>
        <th>Late</th>
        <th>Compleated</th>
        <th>Notes</th>
        <th>Assinged To</th>
        <th>Date Entered</th>
        <th>Date Compleated</th>
        <th>Delete</th>
      </tr>

      {% for item in chore %}
        <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.repeat }}</td>
              <td>{{ item.late }}</td>
              <td>{{ item.compleated }}</td>
              <td>{{ item.notes }}</td>
              <td>{{ item.assinged_to }}</td>
              <td>{{ item.date_entered }}</td>
              <td>{{ item.date_compleated }}</td>
              <td><a href="/delete-item?_id={{ item._id }}">DEL</a></td>
        </tr>
      {% endfor %}
    </table>

  </ul>
</div>
{% endblock %}
